<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.lukeslog.snapnow"
    android:versionCode="5"
    android:versionName="5.0" >

    <uses-sdk android:minSdkVersion="10" />
	<uses-feature android:name="android.hardware.camera" />
 	<uses-feature android:name="android.hardware.camera.autofocus" />
 	<uses-permission android:name="android.permission.VIBRATE" />
 	<uses-permission android:name="android.permission.INTERNET"/>
 	<uses-permission android:name="android.permission.CAMERA" />
 	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
 	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 
    <application
        android:icon="@drawable/snaplogo"
        android:label="@string/app_name" >
        <activity
            android:name="de.lukeslog.snapnow.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.lukeslog.snapnow.main.SnapNowActivity" android:theme="@style/Theme.Transparent" android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name="de.lukeslog.posting.PostToTumblr">
        	<intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="snapnow"/>
            </intent-filter>
        </activity>
        <activity android:name="de.lukeslog.snapnow.posting.PostToTwitter">
        	<intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="snapnow"/>
            </intent-filter>
        </activity>
        <activity 
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/app_name"
            android:name="de.lukeslog.snapnow.main.TumblrExplain">
        </activity>
        <activity 
            android:label="@string/app_name"
            android:name="de.lukeslog.snapnow.main.BlackoutDefinition"/>
		<activity 
            android:label="@string/app_name"
            android:name="de.lukeslog.snapnow.main.ReUploadActivity"/>
        <service android:name="de.lukeslog.snapnow.posting.PostToTumblrViaMail"></service>
        <service android:name="de.lukeslog.snapnow.main.NotificationService"></service>
        <service android:name="de.lukeslog.snapnow.actors.NotificationActor"></service>
        <service android:name="de.lukeslog.snapnow.posting.UploadService"></service>
        <service android:name="de.lukeslog.snapnow.posting.EmailService"></service>
        <service android:name="de.lukeslog.snapnow.main.SnapNowBackgroundService"></service>
          <!-- Start the Service if applicable on boot -->
   		<receiver android:name=".main.StartUp">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
    	</receiver>
    </application>

</manifest>